html {
    background-color: #2f3640;
    color: #fff;
    font-family: Helvetica;
}

body > div {
    margin-bottom: 3rem !important;
    /* padding: 2rem; */
}

a,
a:visited,
a:active {
    color: #2680FD;
    text-decoration: inherit;
    transition: all 0.2s;
}

a:hover {
    color: #1897FE;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

ul {
    list-style: none;
    padding: 0;
}

.header {
    width: 100vw;
    height: 100vh;
    background: center center url('assets/coding2.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.header .container {
    text-align: center;
    width: 60%;
    min-width: 350px;
    padding: 4rem 1rem;
    margin: auto;
    background: center center url('assets/coding3.jpg') no-repeat;
    background-size: cover;
    /* border-radius: 1rem; */
}

.rules-list {
    width: 80%;
    margin: auto;
    padding: 1.5rem 0;
    background-color: #353b48;
    border-radius: 0.5rem;
}

.rules-list h2 {
    margin-left: 2rem;
}

.rules-list li {
    padding: 1rem 1.75rem;
    margin: 1rem 2rem;
    background-color: #2f3640;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

.timeline-container {
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: #353b48;
    color: #fff;
    padding: 2rem 0;
    border-radius: 0.5rem;
}

.timeline-container h2 {
    margin: 0 4rem 3rem 4rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #fff;
}

.timeline {
    display: flex;
    justify-content: space-around;
}

.timeline > div {
    flex: 1;
    text-align: center;
}

.timeline > div > h3 {
    font-size: 1.75rem;
    margin: 0 0 1.5rem 0;
}

.timeline > div > p {
    width: 80%;
    margin: auto;
    color: #eee;
}

.timeline > div:not(:last-child) {
    border-right: 1px solid #fff;
}

.button {
    background-color: #111;
    border-radius: 1rem;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    background-color: #333;
}

#survey {
    display: flex;
    justify-content: center;
    /* padding: 2rem 0; */
}
